:root {
	--direction: -45deg;
}

body {
	margin: 0;
	padding: 0;
}

main {
	position: relative;
}

div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
}

.background {
	/* background-image: url(https://source.unsplash.com/1600x900/?day); */
	background-image: url(https://source.unsplash.com/weekly?gaming);
}

.foreground {
	/* background-image: url(https://source.unsplash.com/1600x900/?night); */
	background-image: url(https://source.unsplash.com/weekly?electronics);
  mask-image: linear-gradient(var(--direction), black 48%, transparent 52%);
  -webkit-mask-image: linear-gradient(var(--direction), black 48%, transparent 52%);
  mask-position: 50% 50%;
  -webkit-mask-position: 50% 50%;
}